html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
    font-size: $font-med;
    color: $newYorkPink;
    line-height: normal;
}

a, a:visited, a:hover {
    text-decoration: none;
    color: $newYorkPink;
}

//Flexbox

.flex {
    display: flex;

    &-jc-sb {
        justify-content: space-between;
    }

    &-jc-c {
        justify-content: center;
    }

    &-ai-c {
        align-items: center;
    }
}

//Visibility

.hide-for-mobile {
  @include breakpoint-down(medium){
    display: none;
  }
}

.hide-for-desktop {
  @include breakpoint-up(large){
    display: none;
  }
}

// Contact form

#contact {
    background: $white;
    padding: 25px;
    margin: 50px 0;
  }

#contact h3 {
    color: $newYorkPink;
    padding-bottom: 10px;
    text-align: center;
    display: block;
    font-size: $font-large;
    font-weight: 400;
    word-spacing: 1px;
  }

.container {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    position: relative;
  }


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    text-rendering: optimizeLegibility;
  }

fieldset {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
  }


#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact textarea {
  width: 100%;
  border: 1px solid $newYorkPink;
  background: $white;
  margin: 0 0 5px;
  padding: 10px;
}

#contact textarea {
    height: 100px;
    max-width: 100%;
    resize: none;
  }

#contact button[type="submit"] {
    cursor: pointer;
    width: 100%;
    border: none;
    background:$newYorkPink;
    color: $white;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px;
  }

textarea {
    font-family: inherit;
    font-size: $font-small;
    line-height: normal;
}

input {
  font-family: inherit;
  font-size: $font-small;
  line-height: normal;

}