// Colours

$lightPink: hsl(4, 100%, 74%);
$melon: hsl(4, 89%, 81%);
$electricBlue: hsl(184, 91%, 54%);
$silverPink: hsl(4, 23%, 75%);
$newYorkPink: hsl(4, 43%, 63%);
$white: hsl(0,0%,100%);

// Font Sizes

$font-med: 1.2rem;
$font-small: 0.9rem;
